header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(26, 75, 123);
  color: white;
  padding: 5px 15px;
  backdrop-filter: blur(10px);
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin: 0 12px;
  padding: 10px;
}

nav ul li a {
  text-decoration: none;
  padding: 10px;
  color: white;
  font-weight: bold;
  font-size: 15px;
  position: relative;
  padding: 5px;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #ffb84c;
  background-color: rgba(255, 184, 76, 0.1);
  border-radius: 5px;
  padding: 0.3rem;
  transform: scale(1.1);
}
